html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Comfortaa", sans-serif;
  /* font-family: "Yeseva One", serif; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.title {
  font-family: "Yeseva One", serif;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 400;
}

.section {
  padding-bottom: 150px;
}

.button {
  padding: 18px 54px;
  background: #ffbd59;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.section--decor {
  position: relative;
}

.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}

.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 10px;
  background-color: #7b6152;
  height: 1px;
  width: 1000%;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  border-bottom: 1px solid #7b6152;
  width: 100%;
  display: block;
}

header {
  background-color: #fff8f3;
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
}

.top__inner {
  position: relative;
}

.top__content {
  width: 370px;
  padding: 150px 0 250px;
}

.top__title {
  font-size: 30px;
  font-family: "Yeseva One", serif;
  margin-bottom: 15px;
  font-weight: 400;
}

.top__text {
  margin-bottom: 48px;
}

.top__buy {
  padding: 18px 54px;
  background: #ffbd59;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
  margin-bottom: 150px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;
}

.about__text {
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 15px;
}

.about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 48px;
  flex-basis: 930px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}

.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}

.section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding-bottom: 90px;
}

.products__content {
  gap: 50px 0px;
}

.products__item {
  max-width: 290px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.products__item-img {
  margin-bottom: 8px;
}
.products__item-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}
.products__item-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}
.products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
}

/* --------------------------- */
.footer {
  padding: 40px 0 35px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.email {
  margin: 17px 0;
}

.footer__social {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }

  .top__text {
    margin-bottom: 30px;
  }

  .top__img {
    left: 300px;
  }

  .top__img-l {
    width: 655px;
  }

  .about__content {
    min-width: 300px;
  }

  .about__list {
    padding-left: 20px;
  }

  .section__inner {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }

  .section__text {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .footer__social {
    justify-content: center;
  }

  .section__inner {
    grid-template-columns: 190px auto;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 680px;
  }

  .header__inner {
    padding-top: 0;
  }

  .phone::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -3px;
    background-size: cover;
  }

  .top__content {
    width: 230px;
  }

  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .top__text {
    margin-bottom: 20px;
  }

  .top__buy {
    padding: 15px 30px;
  }

  .top__img {
    left: 180px;
  }

  .about__content {
    min-width: 200px;
  }

  .title {
    font-size: 15px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__list {
    margin-left: 27px;
    margin-bottom: 33px;
    gap: 0 10px;
  }

  .about__item-text {
    font-size: 6px;
  }

  .about__item-img {
    margin-bottom: 6px;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 190px;
  }

  .products__item {
    width: 175px;
  }

  .products__item-img {
    width: 175px;
    margin-bottom: 6px;
  }

  .products__item-price {
    margin-bottom: 7px;
    font-size: 12px;
  }
  .products__item-title {
    margin-bottom: 9px;
    font-size: 12px;
  }
  .products__item-text {
    margin-bottom: 18px;
    font-size: 8px;
  }

  .button {
    font-size: 12px;
    padding: 12px 27px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }

  .header__menu-list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    right: 50px;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.5s ease;
  }

  .header__menu-list.menu--open {
    transform: translateY(0);
    z-index: 2;
  }

  .menu__btn {
    display: flex;
  }

  .heaer__menu {
    order: 1;
  }

  .section__inner {
    display: block;
  }

  .section__descr {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer__menu-list {
    flex-direction: column;
  }

  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .top__img-l {
    width: 309px;
    left: 167px;
  }

  .top {
    padding: 30px 0 50px;
  }

  .top__content {
    width: 180px;
  }

  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
    line-height: 150%;
  }

  .top__buy {
    font-size: 10px;
    padding: 12px 24px;
  }

  .about__content {
    min-width: 170px;
  }

  .about__list {
    margin-left: 0;
    padding-left: 10px;
    gap: 0 5px;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .about__item-text {
    display: none;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }

  .about__item-img--2 {
    width: 140px;
  }

  .about__inner {
    align-items: flex-end;
    gap: 5px;
  }

  .about {
    margin-bottom: 50px;
  }

  .section {
    padding-bottom: 50px;
  }

  .section__content-descr {
    padding-bottom: 60px;
  }

  .section__descr {
    margin: 0 auto 30px;
    width: 300px;
  }
}

@media (max-width: 360px) {
  .header__menu-list {
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
  }

  .top__img {
    left: auto;
    right: -10px;
    top: -20px;
  }

  .top__img-l {
    width: 170px;
  }

  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }

  .top__title {
    font-size: 18px;
  }

  .top__text {
    font-size: 10px;
    line-height: normal;
  }

  body {
    font-size: 8px;
  }

  .about {
    padding: 25px 0 9px;
  }

  .about__content {
    min-width: 234px;
  }

  .title {
    margin-bottom: 10px;
  }

  .about__inner {
    gap: 16px;
  }

  .about__list {
    gap: 15px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }

  .about__item-img--2 {
    display: none;
  }

  .products__item {
    width: 150px;
  }

  .products__item-img {
    width: 150px;
  }

  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }

  .button {
    font-size: 8px;
    padding: 10px 22px;
  }

  .products__item-price {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .products__item-title {
    font-size: 10px;
  }

  .products__item-text {
    margin-bottom: 16px;
  }
}
